<h2>Reactive: <small>Dinámicos</small></h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">

<div class="mb-3 row">
    

    <label class="col-3 col-form-label">Género</label>
    <div class="col">
        
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="genero" value="M" id="masculino" checked>
            <label class="form-check-label" for="masculino">
              Masculino
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="genero" value="F" id="femenino">
            <label class="form-check-label" for="femenino">
              Femenino
            </label>
          </div>
    </div>


</div>

<div class="mb-3 row">
    <label class="col-3 col-form-label">Notificaciones</label>
    <div class="col mt-2">
        <div class="form-check form-switch">
            <input class="form-check-input" formControlName="notificaciones"  type="checkbox" id="flexSwitchCheckDefault" name="notificaciones" checked required>
            <label class="form-check-label" for="flexSwitchCheckDefault">Quiero recibir notificaciones</label>
        </div>
    </div>
</div>


<div class="row">
    <div class="form-check  d-flex justify-content-center align-items-center">
        <input class="form-check-input" type="checkbox"  formControlName="condiciones" id="flexCheckDefault" required>
        <label class="form-check-label" for="flexCheckDefault">
          Términos y condiciones de uso
        </label>
      </div>
</div>

<div class="d-flex justify-content-center align-items-center mt-3">
    <button type="submit" class="btn btn-primary">Guardar</button>
</div>


</form>


<h3 class="mt-3">Valor formulario</h3>
<div class="row">
    <div class="col">
        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>

        <span>Persona</span>
        <pre>{{ persona | json }}</pre>

        <span>Valid</span>
        <pre>{{ miFormulario.valid | json }}</pre>
    </div>
    
</div>