
<h1>{{title}}</h1>
<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutGap="40px" class="container" fxLayout.xs="column" >

    <div fxFlex="50" fxFlex.xs="100"    fxLayout="column">

       <div fxLayout="row" fxLayoutGap="10%" >

            <mat-form-field fxFlex="45">
                <mat-label>Super Héroe</mat-label>
                <input matInput [(ngModel)]="heroe.superhero" type="text" required>
            </mat-form-field>

            <mat-form-field fxFlex="45">
                <mat-label>Alter Ego</mat-label>
                <input matInput [(ngModel)]="heroe.alter_ego" type="text" required>
            </mat-form-field>

       </div>
     
        <mat-form-field>
            <mat-label>Primera Aparición</mat-label>
            <input matInput [(ngModel)]="heroe.first_appearance" type="text" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput [(ngModel)]="heroe.characters" type="text" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select  [(ngModel)]="heroe.publisher" >
                <mat-option *ngFor="let publisher of publishers"[value]="publisher.id"
                >{{publisher.desc}}</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Imagen Héroe (url) </mat-label>
            <input matInput [(ngModel)]="heroe.alt_img" type="text" required>
        </mat-form-field>

        <div fxLayoutGap="20px" >
            <button fxFlex="50" mat-raised-button color="primary" (click)="guardar()" ><mat-icon>save</mat-icon>{{(title=='Agregar Héroe') ? 'Crear' : 'Actualizar'}}</button>
    
            <ng-container *ngIf="title != 'Agregar Héroe'">
                <button fxFlex="50" mat-raised-button color="warn" (click)="eliminar()" ><mat-icon>delete</mat-icon>Eliminar</button>
            </ng-container>
          
            
        </div>


    </div>


    <div fxFlex="50" fxFlex.xs="100">
            <img [src]="heroe | heroeImg" alt="" class="img-fluid" srcset="">
    </div>


</div>