<mat-sidenav-container fullscreen >
    <!-- mode="push" es el efecto que se quiere hacer -->
    <mat-sidenav #sidenav mode="push" >
        <mat-toolbar (click)="sidenav.toggle()" color="primary" class="spacer" >
            <span  >Menu </span>
            <mat-icon >menu</mat-icon>
        </mat-toolbar>

        <mat-nav-list role="list">
            <a routerLink="./listado" (click)="sidenav.toggle()"  mat-list-item>
                <mat-icon mat-list-icon >list</mat-icon>
                <span>Listado de Héroes</span>
            </a>
            <a routerLink="./agregar" (click)="sidenav.toggle()"  mat-list-item>
                <mat-icon mat-list-icon >add</mat-icon>
                <span>Añadir Héroe</span>
            </a>
            <a routerLink="./buscar" (click)="sidenav.toggle()"  mat-list-item>
                <mat-icon mat-list-icon >search</mat-icon>
                <span>Buscar Héroe</span>
            </a>
            <a routerLink="./editar/id" (click)="sidenav.toggle()"  mat-list-item>
                <mat-icon mat-list-icon >edit</mat-icon>
                <span>Editar Héroes</span>
            </a>
            <a routerLink="./id" (click)="sidenav.toggle()"  mat-list-item>
                <mat-icon mat-list-icon >visibility</mat-icon>
                <span>ver Héroe</span>
            </a>
          </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar class="spacer position-sticky">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-icon-button class="margin-r-5" >
            <span>Logout</span>
            <mat-icon>logout</mat-icon>
        </button>
        
    </mat-toolbar>

    <div class="container">
        <router-outlet ></router-outlet> 
    </div>


</mat-sidenav-container>


<!-- mostrar rutas hijas -->
